<div id="badge-section">
  <a href="https://travis-ci.org/sirosen/SALVE">
    <img src="https://api.travis-ci.org/sirosen/SALVE.svg?branch=stable"
         alt="Build Status">
    </img>
  </a>
  <a href="https://coveralls.io/r/sirosen/SALVE">
    <img src="https://coveralls.io/repos/sirosen/SALVE/badge.png?branch=stable"
         alt="Coverage Status">
    </img>
  </a>
  <a href="http://badge.fury.io/py/salve">
    <img src="https://badge.fury.io/py/salve.svg"
         alt="PyPI version">
  </a>
</div>

<a href="https://pypi.python.org/pypi/salve" class="button python">
  <div class="button-text">
    <small>Check it out on</small>
    PyPi
  </div>
</a>
<a href="https://github.com/sirosen/SALVE" class="button github">
  <div class="button-text">
    <small>View project on</small>
    GitHub
  </div>
</a>
<a href="https://github.com/sirosen/SALVE/zipball/stable" class="button">
  <div class="button-text">
    <small>Download</small>
    .zip file
  </div>
</a>
<a href="https://github.com/sirosen/SALVE/tarball/stable" class="button">
  <div class="button-text">
    <small>Download</small>
    .tar.gz file
  </div>
</a>
