        </section>
      <aside id="sidebar">
        <div id="badge-section">
          <p>
            <a href="https://travis-ci.org/sirosen/SALVE">
              <img src="https://travis-ci.org/sirosen/SALVE.svg?branch=stable"
                   alt="Build Status">
              </img>
            </a>
            <a href="https://coveralls.io/r/sirosen/SALVE">
              <img src="https://coveralls.io/repos/sirosen/SALVE/badge.png?branch=stable"
                   alt="Coverage Status">
              </img>
            </a>
          </p>
        </div>

        <a href="https://github.com/sirosen/SALVE" class="button github">
            <small>View project on</small>
            GitHub
        </a>
        <a href="https://github.com/sirosen/SALVE/zipball/stable" class="button">
          <small>Download</small>
          .zip file
        </a>
        <a href="https://github.com/sirosen/SALVE/tarball/stable" class="button">
          <small>Download</small>
          .tar.gz file
        </a>

      </aside>
    </div>
    <div class="footernote">This page was created based on the Architect theme for GitHub pages by Jason Long.</div>
    <div class="footernote">Site tested on Firefox and Chrome.</div>
  </div>


</body>
