<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/aside.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/code-fold.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css" media="screen" />

  <!--Google Analytics Tracking Here-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46092333-2', 'sirosen.net');
      ga('send', 'pageview');

    </script>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/images/icons/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/images/icons/images/icons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">

  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>

  <script type="text/javascript" src="/javascripts/versionstrings.js"></script>
  <script type="text/javascript" src="/javascripts/fold-code.js"></script>

  <title>SALVE by sirosen</title>
</head>

<body>
  <header>
    <div class="inner">
      <a href="/"><h1 style="display:inline;">SALVE</h1><img src="/images/logo.png"></a>
      <div class="versions">
        <h3 class="versionstring" id="stable"></h3>
        <h3 class="versionstring" id="dev"></h3>
      </div>
    </div>

    <div class="inner">
      <navbar>
        <ul>
          <li><a href="/" class="linkbutton">Home</a>
            <ul>
              <li><a href="/why.html">Why Use SALVE?</a></li>
              <li><a href="/notes.html">Notes</a></li>
            </ul>
          </li>
          <li><a href="/lang">The SALVE Language</a>
            <ul>
              <li><a href="/lang/examples.html">Examples</a></li>
              <li><a href="/lang/attributes.html">Attribute Precedence</a></li>
            </ul>
          </li>
          <li><a href="/quickstart.html">Quick Start Guide</a></li>
          <li><a href="http://sirosen.net">About the Author</a></li>
        </ul>
      </navbar>
    </div>


  </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
