{% if include.rootpath %}
{% assign prefix = {{include.rootpath}} %}
{% else %}
{% assign prefix = '.' %}
{% endif %}

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{prefix}}/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{prefix}}/stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{prefix}}/stylesheets/print.css" media="print" />

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>SALVE by sirosen</title>
</head>

<body>
  <header>
    <div class="inner">
      <a href="https://sirosen.github.io/SALVE"><h1>SALVE</h1></a>
      <h2>Simple And Local Versioning Ecosystem</h2>
      <a href="https://github.com/sirosen/SALVE" class="button"><small>View project on</small>GitHub</a>

    </div>

    <div class="inner">
      <a href="https://sirosen.github.io/SALVE/html/why.html" class="linkbutton">Why Use SALVE?</a>
      <a href="https://sirosen.github.io/SALVE/html/lang.html" class="linkbutton">The SALVE Language</a>
      <a href="https://sirosen.github.io/SALVE/html/notes.html" class="linkbutton">Notes</a>
    </div>

  </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
