#main-content .folding-code h3 {
    color: #2879D0;
}

#main-content .folding-code h3:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
}

#main-content .folding-code code {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    background: #FFFFFF;
    background-color: #FFFFFF;
    color: #2879D0;
    border: solid 1px #f2f2f2;
    overflow: auto;
    padding: 20px;
    font-size: 13px;
    white-space: pre;
    width: 94%;
}
