<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="SALVE" src="/images/logo.png">
        SALVE
      </a>
    </div>

    <div>
      <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle"
           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           User Guide<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/quickstart.html">Quick Start Guide</a></li>
          <li class="dropdown-header">Language</li>
          <li><a href="/lang">Language Overview</a></li>
          <li><a href="/lang/examples.html">Examples</a></li>
          <li><a href="/lang/attributes.html">Attribute Precedence</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle"
           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           Design Notes<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Why Use SALVE</li>
          <li><a href="/why">Safety & Simplicity</a></li>
          <li><a href="/why/compare.html">Compare With Existing Software</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/notes.html">Notes & Thanks</a></li>
          <li><a href="http://sirosen.net">About the Author</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>
