<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="SALVE" src="/images/logo.png">
        SALVE
      </a>
    </div>

    <div>
      <ul class="nav navbar-nav">
      <li><a href="/quickstart.html">Quick Start Guide</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Overview <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/why.html">Why Use SALVE?</a></li>
          <li><a href="/notes.html">Notes</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Language <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/lang">Language Overview</a></li>
          <li><a href="/lang/examples.html">Examples</a></li>
          <li><a href="/lang/attributes.html">Attribute Precedence</a></li>
        </ul>
      </li>
      <li><a href="http://sirosen.net">About the Author</a></li>
      </ul>
    </div>
  </div>
</nav>
